@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --swatch-background-100: rgb(5,5,5);
    --swatch-background-200: rgb(15,15,15);
    --swatch-background-300: rgb(25,25,25);

    --swatch-foreground-100: rgb(195,195,195);
    --swatch-foreground-200: rgb(225,225,225);
    --swatch-foreground-300: rgb(255,255,255);

    --root-font: "Montserrat", monospace;
    --root-font-weight: 500;
}

body, html {
    margin: 0;
    padding: 0;
    background: var(--swatch-background-100);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: var(--swatch-foreground-200);
    font-family: var(--root-font);
    font-weight: 800;
    margin-top: 2.5vw;
    font-size: 3vw;
}

#globe {
    transition: all 0.2s ease-in-out;
}

#globe-button {
    background: transparent;
    border: none;
}

#navbar {
    height: 4vw;
    background: rgb(5,5,5,0.5);
    backdrop-filter: blur(15px);
    border: 0.2vw rgba(255,255,255,0.5) solid;
    position: fixed;
    border-radius: 4vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}

#navbar * {
    transition: all 0.2s ease-in-out;
    margin: 0.23vw;
}

#nav-item:hover path{
    fill: white;
}